<mat-card class="mat-elevation-z2">
  <mat-card-content style="width: 95%; height: 80vh;">
    <as-split direction="horizontal">
      <as-split-area [size]="40">
        <ng-container
          *ngIf="loadTree">
            <!-- Tree Library -->
            <lib-mstree
              [connectWithDynamicComp] = [mstabs]
              (treeDragStartEvent)="treeDragStartEvent($event)"
              (treeDragEndEvent)="treeDragEndEvent($event)"
            ></lib-mstree>
            <!-- ./Tree Library -->
        </ng-container>
      </as-split-area>
      <as-split-area [size]="60">
        <!-- Tabs Library -->
          <lib-mstabs-wrapper
              cdkDropList
              #tabsWrapper
              #mstabs="cdkDropList"
              (cdkDropListDropped)="onTreeNodeDrop($event)"
              [tabsComponents] = tabsComponents
              [addMoreTabsSub] = addMoreTabsSub
              [removeTabsSub] = removeTabsSub
              [tabMoreMenu] = tabMoreMenu
              (tabRemoveEvent) = "tabRemoveEvent($event)"
              (tabChangedEvent) = "tabChangedEvent($event)"
              (tabMoreMenuEvent) = "tabMoreMenuEvent($event)"
          ></lib-mstabs-wrapper>
          <!-- ./Tabs Library -->
      </as-split-area>
    </as-split>
  </mat-card-content>
</mat-card>
