
<!-- Tabs Library -->
<lib-mstabs-wrapper
  #tabsWrapper2
  [tabsComponents] = tabsComponents
  [addMoreTabsSub] = addMoreTabsSub
  [removeTabsSub] = removeTabsSub
  [tabMoreMenu] = tabMoreMenu
  (tabRemoveEvent) = "tabRemoveEvent($event)"
  (tabChangedEvent) = "tabChangedEvent($event)"
  (tabMoreMenuEvent) = "tabMoreMenuEvent($event)"
></lib-mstabs-wrapper>
<!-- ./Tabs Library -->


<!-- Tabs Library -->
<!--<lib-mstabs-wrapper-->
<!--    cdkDropList-->
<!--    #tabsWrapper-->
<!--    #mstabs="cdkDropList"-->
<!--    (cdkDropListDropped)="onTreeNodeDrop($event)"-->
<!--    [tabsComponents] = tabsComponents-->
<!--    [addMoreTabsSub] = addMoreTabsSub-->
<!--    [removeTabsSub] = removeTabsSub-->
<!--    [tabMoreMenu] = tabMoreMenu-->
<!--    (tabRemoveEvent) = "tabRemoveEvent($event)"-->
<!--    (tabChangedEvent) = "tabChangedEvent($event)"-->
<!--    (tabMoreMenuEvent) = "tabMoreMenuEvent($event)"-->
<!--  ></lib-mstabs-wrapper>-->
<!-- ./Tabs Library -->
