/* You can add global styles to this file, and also import other style files */
@import url("./assets/fonts/material-icons.css");

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
  }
  .spacer {
    flex: 1 1 auto;
  }